  .error-msg {
    min-height: 18px;   
    font-size: 0.875rem;
    margin: 4px 0 0;
  }
  

.loader-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.action-btn {
    transition: all 0.3s ease;
    border-radius: 12px;
}

.action-btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}
